* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    margin: 30px auto;
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
}
.loader{
    width: 80%;
    height: 80%;
    border-left: 20px solid black;
    border-right: 20px solid black;
    border-top : 20px solid transparent;
    border-bottom: 20px solid  transparent;
    border-radius: 50%;
    animation: myanime 1s infinite linear;

}
@keyframes myanime{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}